# Virtuelle Umgebung
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
opTiSurf/
opTiSurf/opTiSurf.exe

# IDE/Editor spezifische Ordner (optional, aber gut)
.vscode/
.idea/

# Windows spezifisch (optional)
Thumbs.db
desktop.ini
Ergänzungen.txt
text_nach_installation.txt
text_vor_installation.txt
